/* Basalt (main) theme colors */
:root {
    --white:       #ab947a;
    --main:        #625565;
    --subcolor:    #966c6c;
    --dark:        #2e222f;
    --less_darker: #3e3546;
    --blue:        #966c6c;
    --yellow:      #966c6c;
    --green:       #966c6c;
    --red:         #966c6c;
    --purple:      #966c6c;
}
