@import "themes/basalt";

$radius: 15px;
$p: 13px;
$down-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.15);
$sidedown-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.15);
$card-margin: 1.5rem;
$contm: 3.125rem;

body {
    background-color: $main;
    font-family: 'Nunito Sans', sans-serif;
    color: $white;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/*Colors*/

.blue {
    background-color: $blue;
}

.green {
    background-color: $green;
}

.yellow {
    background-color: $yellow;
}

.red {
    background-color: $red;
}

.purple {
    background-color: $purple;
}

.hidden {
    display: none;
}

/*UI elements*/

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main;
    border: 2px solid $subcolor;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: $red;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    background-color: $green;
}


input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.optionToggler {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

button {
    background-color: $main;
    color: $white;
    border: 2px solid $subcolor;
    border-radius: $radius/4;
    -webkit-box-shadow: $down-shadow;
    -moz-box-shadow: $down-shadow;
    box-shadow: $down-shadow;
}

/**/

/* Main page */


.boardList {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;

    background-color: $less_darker;
    font-weight: 600;
    font-size: 18px;
    padding: 0 3.125rem 0 3.125rem;
    margin: 0;
}

.maintenanceList {
    margin-left: auto;
}

a {
    color: $white;
    text-decoration: none;
}

a:visited {
    color: $white;
    text-decoration: none;
}


.pageContent {
    margin: 1.688rem $contm 0 $contm;
}

/* Mobile CSS */

@media only screen and (max-width: 900px) {
    .boardList {
        display: none;
    }
    .boardSplash {
        display: none;
    }
}

/**/

.naming {
    margin-left: 0.938rem;
    display: flex;
    flex-direction: column;
}

.listContent {
    display: flex;
    flex-direction: row;
}

.mainPageHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boardTitle {
    //padding-top: 20px;
    font-weight: 800;
    font-size: 70px;
}

.boardSlogan {
    font-weight: 700;
    color: $subcolor;
    font-size: 24px;
    margin: 15px 0 27px 0;
}

.boardSplash {
    padding: $p;
    background-color: $main;

    border: 2px solid $dark;
    border-radius: $radius;
    -webkit-box-shadow: $sidedown-shadow;
    -moz-box-shadow: $sidedown-shadow;
    box-shadow: $sidedown-shadow;

}

/* Board cards */

.panels {
    display: flex;
    flex-direction: row;
}

.leftContent {
    display: flex;
    flex-direction: column;
    margin-right: $card-margin;
}

.rightContent {
    display: flex;
    flex-direction: column;
}

.boardLeftContent {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: $card-margin;
}

.boardRightContent {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $main;
    border: 2px solid $dark;
    border-radius: $radius;
    margin: 0 0 $card-margin 0;

    -webkit-box-shadow: $sidedown-shadow;
    -moz-box-shadow: $sidedown-shadow;
    box-shadow: $sidedown-shadow;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border-radius: 13px 13px 0 0;
    font-weight: bolder;
    gap: 0.7rem;
    padding: $p/2.5 $p $p/2.5 $p;
    background-color: $less_darker;

}

.cardBullet {
    width: 16px;
    height: 16px;

    border-radius: 9px;

    //background-color: $blue;
    -webkit-box-shadow: $down-shadow;
    -moz-box-shadow: $down-shadow;
    box-shadow: $down-shadow;
}

.cardName {
    margin: 0;
}

.cardNavigate {
    margin-left: auto;
    color: $subcolor;
    text-align: center;
}

.cardContent{
    margin: 12px;
    text-align: left;
}

.cardContent > img {
    width: 27.2rem;
    height: 25.1rem;
    border-radius: $radius/2;
    object-fit: cover;
    background-color: $dark;
}

.boardLink {
    display: inline-block;
    float: right;
    color: $subcolor;
    font-weight: 600;
}

/* Board list */

.boardListEntry > a {
    color: white;
    text-decoration: none;
}

.entrySlashedTag {
    font-weight: 900;
    display: inline-block;
}

.entryName {
    display: inline-block;
    padding-left: 4px;
}

.postFormHandler {
    margin: 12px;
    display: flex;
    flex-direction: row;
}

.typing {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.posting {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
}

.functional {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* Posts */

.postHandler {
    display: flex;
    flex-direction: column;
    //gap: $p;
}

.postCard {
    min-height: 15vh;

    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: $main;
    border: 2px solid $dark;
    border-radius: $radius;
    margin: 0;

    -webkit-box-shadow: $down-shadow;
    -moz-box-shadow: $down-shadow;
    box-shadow: $down-shadow;
}

.postContent {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.postImages {
    flex: 0 1 auto;
}

.postImages > * {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    background-color: $less_darker;
}

.postTextContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.postTitle {
    font-weight: 700;
    flex: 0 1 auto;
}

.postMessage {
    flex: 1 1 auto;
}

.postReplies {
    font-weight: 300;
    flex: 0 1 auto;
}

.postReply {
    display: inline-block;
    padding-right: 4px;
}

textarea {
    resize: none;
    padding: $p/2;
    border-radius: $radius/2;
}

/*Admin panel*/

.adminList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.adminListItem{
    cursor: pointer;
}

.adminListItem:hover {
    color: $blue;
}

.boardManager {
    display: flex;
    flex-direction: row;
}

.boardMgrBoard {
    flex-direction: row;
    justify-content: space-between;
    padding: $p/2;
    margin: $card-margin/2;
    gap: 2rem;
}

.boardMgrBoard a:hover {
    color: $blue;
    cursor: pointer;
}

.boardMgrEditButtons {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.boardMgrDeleteButton:hover {
    color: $red;
}

.boardMgrEditButton:hover {
    color: $yellow;
}

/**/

footer {
    background-color: $less_darker;
    text-align: center;
    color: $subcolor;
}