@import "basalt.scss";

body {
    background-color: $main;
    font-family: 'Nunito Sans', sans-serif;
    color: $white;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}


/* Main page */


.boardList {
    display: block;

    background-color: $less_darker;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 400px) {
    .boardList {
        display: none;
    }
    .boardAd {
        display: none;
    }
}

.listContent {
    display: flex;
    flex-direction: row;
}

mainPageHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.naming {
    display: flex;
    flex-direction: column;
}

.boardTitle {
    padding-top: 20px;
    font-weight: 800;
    font-size: 70px;
}

.boardSlogan {
    font-weight: 700;
    color: $subcolor;
    font-size: 24px;
    padding: 20px 0 15px 0;
}

/* Board cards */

.panels {
    display: flex;
    flex-direction: row;
}

.leftContent {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 9px;
    border-radius: 10px;
    background-color: $main;
    display: inline-block;
    border: 1px solid $dark;
}

.cardName {
    padding-left: 9px;
    display: inline-block;
    font-weight: 600;
}

.cardHeader {
    padding: 6px;
    background-color: $less_darker;
    border-radius: 10px 10px 0 0;
}

.cardBullet {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: $blue;
}

.cardContent {
    padding: 9px;
}

.boardLink {
    display: inline-block;
    float: right;
    color: $subcolor;
    font-weight: 600;
}

/* Board list */

.boardListEntry > a {
    color: white;
    text-decoration: none;
}

.entrySlashedTag {
    font-weight: 900;
    display: inline-block;
}

.entryName {
    display: inline-block;
    padding-left: 4px;
}

/* Posts */

.postCard {
    min-height: 15vh;
}

.postContent {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.postImages {
    flex: 0 1 auto;
}

.postImages > * {
    object-fit: cover;
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    background-color: $less_darker;
}

.postTextContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.postTitle {
    font-weight: 700;
    flex: 0 1 auto;
}

.postMessage {
    flex: 1 1 auto;
}

.postReplies {
    font-weight: 300;
    flex: 0 1 auto;
}

.postReply {
    display: inline-block;
    padding-right: 4px;
}

footer {
    background-color: $less_darker;
    text-align: center;
}