<div class="postCard">
    <div class="cardContent postContent">
        <div class="postImages">
            <img src="/static/girl.jpg" alt="Girl picture">
        </div>
        <div class="postTextContent">
            <div class="postTitle">
                LOREM IPSUM! DOLOR SIT AMET.
            </div>
            <div class="postMessage">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim libero est, sed commodo tellus luctus a. Quisque volutpat porta mi, sit amet semper lorem tincidunt et. Curabitur est dui, tempor a nulla eu.
            </div>
            <div class="accent postReplies">
                <div class="postReply">
                    >>123123123
                </div>
                <div class="postReply">
                    >>123123123
                </div>
                <div class="postReply">
                    >>123123123
                </div>
                <div class="postReply">
                    >>123123123
                </div>
            </div>
        </div>
    </div>
</div>