<div class="postCard">
    <div class="cardContent postContent">
        <div class="postImages">
            <img src="/static/girl.jpg" alt="Post picture">
        </div>
        <div class="postTextContent">
            <div class="postTitle {{Post.title}}">
            </div>
            <div class="postMessage {{Post.message}}">
            </div>
            <div class="postReplies">
                <div class="postReplyID">
                    >>123123123
                </div>
                <div class="postReplyID">
                    >>123123123
                </div>
                <div class="postReplyID">
                    >>123123123
                </div>
                <div class="postReplyID">
                    >>123123123
                </div>
            </div>
        </div>
    </div>
</div>